body {

    background-image:url("913717.jpg");

}

.signupcard{
    background-image: url("331075.png");
    color: white;
    margin-top: 75px;
}

.submitbutton{
    background-image: url("Glowingbluebutton.png");
}

.h1{
    color:white;
}

.h2{
    color:white;
}