body {

    background-image:url("Binary-Background.png") ; 

}

.scard{
    height: 600px;
    width: 900px;
    background-color: grey;
    justify-content: center;
    margin-left: 520px;
    margin-top: 100px;
}

#surverysubmit{

    margin-left: 150px;
    margin-top: 150px;
}