body {

    background-image:url("913717.jpg"); 

}

.scard{
    height: 600px;
    width: 900px;
    /* background-color: grey; */
    background-image: url("331075.png");
    justify-content: center;
    margin-left: 520px;
    margin-top: 100px;
    color: white;
}

#surverysubmit{

    margin-left: 150px;
    margin-top: 150px;
}