.navigation{
    border-style: inset;
    border-color: grey;
    background-image: url("331075.png");
    color: white;
    }
    .navbutton{
        background-image: url("Glowingbluebutton.png");
    }

    .submitbutton{
        background-image: url("Glowingbluebutton.png");
    }

    .buttonpositioner{
        margin-left: 130px;
        margin-top: 5px;
    }

    body {

        background-image:url("913717.jpg"); 
    
    }

    .jcard{
        height: 500px;
        width: 700px;
        background-image: url("331075.png");
        color: white;
        justify-content: center;
        margin-left: 520px;
        margin-top: 200px;
    }