
<h1 id="title">Inner Join Survey</h1>
<body>
  <div id="survey">
    <p id="description">A short survey to understand your dating needs</p>
   <form id="survey-form" autocomplete="on">
    <div class="labels">
      <label id="name-label" for="name">Name </label>
     </div>
    <div class="inputs">
      <input type="text" name="name" id="name" placeholder="Enter your name" required>
      </div>
    <div class="labels">
      <label for="email" id="email-label">Email </label>
     </div>
    <div class="inputs">
     <input type="email" id="email" name="email" placeholder="Enter your email" required>
    </div>
    <div class="labels">
     <label for="age" id="number-label" name="age">Age</label>
     </div>
     <div class="inputs">
      <input type="number" id="number" name="age" placeholder="Age" min="18" max="99">
      </div>
     <div class="labels">
       <label for="gender">Gender</label>
     </div>
     <div class="inputs">
       <select type="dropdown" id="dropdown" name="gender">
       <option value="" disabled selected hidden>Select an option</option>
       <option value="female">Female</option>
       <option value="male">Male</option>
       <option value="other">Other/Non-Binary</option>
       </select>
     </div>
     <div class="labels">
       <label for="gender">Interested In</label>
     </div>
     
     <div class="inputs">
       <select type="dropdown" id="dropdown" name="gender">
       <option value="" disabled selected hidden>Select an option</option>
       <option value="female">Female</option>
       <option value="male">Male</option>
       <option value="other">Other/Non-Binary</option>
       </select>
     </div>
     <div class="labels">
        <label for="freq">How often do you use dating apps?</label>
       </div>
     <div class="inputs">
      <input type="radio" name="freq" value="0">daily<br>
      <input type="radio" name="freq" value="1">weekly<br>
      <input type="radio" name="freq" value="3">monthly<br>
      <input type="radio" name="freq" value="3">yearly<br>
      <input type="radio" name="freq" value="3">Mind yo business!<br>
     </div>
     <div class="labels">
      <label for="loc">What languages are your JAM yo??? Select all that apply.</label>
     </div>
     <div class="inputs">
       <input type="checkbox" name="loc" value="JavaScript">JavaScript<br>
       <input type="checkbox" name="loc" value="C++">C++<br>
       <input type="checkbox" name="loc" value="Python">Python<br>
       <input type="checkbox" name="loc" value="Swift">Swift<br>
       <input type="checkbox" name="loc" value="Java">Java<br>
       <input type="checkbox" name="loc" value="Ruby">Ruby<br>
       <input type="checkbox" name="loc" value="PHP">PHP<br>
       <input type="checkbox" name="loc" value="HTML">HTML<br>
       <input type="checkbox" name="loc" value="CSS">CSS<br>
     </div>

     <div class="labels">
        <label for="loc">Favorite tech visionary of all time? Select wisely young grasshopper.</label>
       </div>
       <div class="inputs">
         <input type="checkbox" name="loc" value="Tim Berners-Lee">Tim Berners-Lee<br>
         <input type="checkbox" name="loc" value="Elon Musk">Elon Musk<br>
         <input type="checkbox" name="loc" value="Steve Jobs">Steve Jobs<br>
         <input type="checkbox" name="loc" value="Sergey Brin and Larry Page">Sergey Brin and Larry Page<br>
         <input type="checkbox" name="loc" value="Bill Gates">Bill Gates<br>
         <input type="checkbox" name="loc" value="The Woz">The Woz<br>
    </div>
    <div class="labels">
        <label for="loc">If you could wake up tomorrow with one super power, what would it be?</label>
       </div>
       <div class="inputs">
         <input type="checkbox" name="loc" value="Ability to fly">Ability to fly<br>
         <input type="checkbox" name="loc" value="X-Ray vision">X-Ray vision<br>
         <input type="checkbox" name="loc" value="Telepathy">Telepathy<br>
         <input type="checkbox" name="loc" value="Super speed">Super speed<br>
         <input type="checkbox" name="loc" value="Enhanced sense">Enhanced Senses<br>
         <input type="checkbox" name="loc" value="Immortality">Immortality<br>
    </div>

</body>
    